.header{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 60px;
}
.invice-table{
    display: flex;
    justify-content: space-between;
    text-align: left;
}
.price{
    background: #d0cfcf;
    padding: 10px;
    width: 100px;
   
}
.id{
    padding: 10px;
}
.weight{
    padding: 10px;
    
}
.bottom{
    margin-top: 50px;
    justify-self: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Totle{
    margin-top: 80px;
}